In [11]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

config = configparser.ConfigParser()
config.read("/notebooks/notebooks/credentials.ini")

connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [12]:
connection_parameters

{'user': 'MANISH',
 'password': 'Password@2023',
 'account': 'ug94937.us-east4.gcp',
 'WAREHOUSE': 'FOSFOR_SOLUTIONS_WH',
 'DATABASE': 'FDC_Banking_FS',
 'SCHEMA': 'BFS_SUPER_ANNU_SCHEMA'}

In [15]:
df = session.table("MEMBER_FUNDS_ENRICHED_DETAILS").to_pandas()

In [16]:
df.shape

(335999, 50)

In [17]:
df.to_csv("/data/funds.csv", index=False)

In [18]:
df.head(20)

,MEMBER_ID,MEMBER_NAME,MEMBER_EMPLOYMENT,MEMBER_GENDER,MEMBER_CITY_TOWN,MEMBER_STATE,MEMBER_CONTACT_VERIFIED,FUND_ID,CHURN_REASON,LATITUDE,...,MEMBER_AGE,INVESTMENT_AGE_GROUP,RETIREMENT_AGE,RETIREMENT_AGE_GROUP,TOTAL_FUNDS_INVESTED,NO_OF_CHURN,MEMBER_DOB_DT,ALLOCATION_DT,CHURN_DT,RETIREMENT_DT
0,MID000001,Vallie Bachman,The University of Sydney,Female,Hobart,Tasmania,N,FID000106,NOT APPLICABLE,-42.8806,...,44,Middle-aged,21,MORE_THAN_10_YEAR,1,NaN,1980-01-08,2004-11-18,9999-12-31,2045-01-08
1,MID000028,Jani Herritt,Murdoch University,Female,Sydney,New South Wales,Y,FID000137,NOT APPLICABLE,-33.8678,...,52,Senior,13,MORE_THAN_10_YEAR,1,NaN,1972-02-27,2001-07-08,9999-12-31,2037-02-27
2,MID000044,Jani Rulapaugh,Torrens University Australia,Male,Melbourne,Victoria,Y,FID000050,NOT APPLICABLE,-37.8142,...,43,Middle-aged,22,MORE_THAN_10_YEAR,1,NaN,1981-02-17,2002-12-10,9999-12-31,2046-02-17
3,MID000089,Alease Hollack,University of New England,Male,Darwin,Northern Territory,N,FID000186,NOT APPLICABLE,-12.4381,...,43,Middle-aged,22,MORE_THAN_10_YEAR,1,NaN,1981-12-19,2002-08-13,9999-12-31,2046-12-19
4,MID000098,Devorah Whobrey,The University of Notre Dame Australia,Female,Darwin,Northern Territory,Y,FID000184,NOT APPLICABLE,-12.4381,...,59,Senior,6,IN_NEXT_5_YEAR,1,NaN,1965-12-07,2005-08-05,9999-12-31,2030-12-07
5,MID000108,Tawna Cantres,Deakin University,Male,Melbourne,Victoria,N,FID000154,NOT APPLICABLE,-37.8142,...,40,Middle-aged,25,MORE_THAN_10_YEAR,1,NaN,1984-01-08,2000-09-20,9999-12-31,2049-01-08
6,MID000141,Marguerita Foller,The University of Melbourne,Male,Hobart,Tasmania,Y,FID000153,NOT APPLICABLE,-42.8806,...,36,Middle-aged,29,MORE_THAN_10_YEAR,1,NaN,1988-08-25,2001-01-18,9999-12-31,2053-08-25
7,MID000165,Caitlin Lindall,Edith Cowan University,Female,Darwin,Northern Territory,Y,FID000042,NOT APPLICABLE,-12.4381,...,33,Middle-aged,32,MORE_THAN_10_YEAR,1,NaN,1991-11-03,2001-12-17,9999-12-31,2056-11-03
8,MID000169,Vi Merced,University of South Australia,Male,Adelaide,South Australia,N,FID000142,NOT APPLICABLE,-34.9275,...,25,Young,40,MORE_THAN_10_YEAR,1,NaN,1999-08-15,2001-04-28,9999-12-31,2064-08-15
9,MID000198,Sharika Blackwood,Curtin University,Female,Perth,Western Australia,N,FID000137,NOT APPLICABLE,-31.9559,...,59,Senior,6,IN_NEXT_5_YEAR,1,NaN,1965-07-27,2001-08-13,9999-12-31,2030-07-27
10,MID000117,Vi Auber,Australian Catholic University,Female,Adelaide,South Australia,N,FID000075,NO REASON IDENTIFIED,-34.9275,...,37,Middle-aged,28,MORE_THAN_10_YEAR,2,1.0,1987-12-30,2002-08-07,2009-12-04,2052-12-30
11,MID000119,Stephane Julia,Southern Cross University,Male,Adelaide,South Australia,N,FID000162,HIGH ACCOUNT FEE,-34.9275,...,35,Middle-aged,30,MORE_THAN_10_YEAR,2,1.0,1989-03-27,2004-03-13,2007-07-07,2054-03-27
12,MID000157,Salena Baltimore,Macquarie University,Male,Melbourne,Victoria,N,FID000006,HIGH TRANSACTION FEE,-37.8142,...,46,Middle-aged,19,MORE_THAN_10_YEAR,2,1.0,1978-06-26,2005-04-23,2008-06-08,2043-06-26
13,MID000003,Mari Candlish,University of New England,Female,Walgett,New South Wales,Y,FID000047,NOT APPLICABLE,-30.0167,...,35,Middle-aged,30,MORE_THAN_10_YEAR,1,NaN,1989-01-27,2000-12-01,9999-12-31,2054-01-27
14,MID000005,Brett Butzen,La Trobe University,Male,Palmerston,Northern Territory,Y,FID000167,NOT APPLICABLE,-12.4806,...,54,Senior,11,MORE_THAN_10_YEAR,1,NaN,1970-01-23,2005-10-28,9999-12-31,2035-01-23
15,MID000007,Virgie Campain,Queensland University of Technology,Female,Mollymook,New South Wales,Y,FID000144,NOT APPLICABLE,-35.3297,...,26,Young,39,MORE_THAN_10_YEAR,1,NaN,1998-09-22,2005-04-20,9999-12-31,2063-09-22
16,MID000008,Nana Weirather,Bond University,Female,Glenbrook,New South Wales,Y,FID000037,NOT APPLICABLE,-33.7667,...,57,Senior,8,IN_NEXT_10_YEAR,1,NaN,1967-05-08,2001-10-27,9999-12-31,2032-05-08
17,MID000010,Jovita Harnos,The University of Queensland,Male,Leongatha,Victoria,N,FID000037,NOT APPLICABLE,-38.4833,...,55,Senior,10,IN_NEXT_10_YEAR,1,NaN,1969-08-18,2001-12-15,9999-12-31,2034-08-18
18,MID000011,Sabra Sayaphon,University of Southern Queensland,Male,Quirindi,New South Wales,N,FID000071,NOT APPLICABLE,-31.5081,...,30,Middle-aged,35,MORE_THAN_10_YEAR,1,NaN,1994-10-24,2001-03-03,9999-12-31,2059-10-24
19,MID000015,Albina Dubaldi,RMIT University,Male,Forster,New South Wales,Y,FID000075,NOT APPLICABLE,-32.1806,...,59,Senior,6,IN_NEXT_5_YEAR,1,NaN,1965-02-12,2002-07-18,9999-12-31,2030-02-12

In [19]:
df.groupby("MEMBER_ID").count("MEMBER_ID")

Index(['MEMBER_ID', 'MEMBER_NAME', 'MEMBER_EMPLOYMENT', 'MEMBER_GENDER',
       'MEMBER_CITY_TOWN', 'MEMBER_STATE', 'MEMBER_CONTACT_VERIFIED',
       'FUND_ID', 'CHURN_REASON', 'LATITUDE', 'LONGITUDE', 'COUNTRY',
       'COUNTRYCODE', 'CAPITAL', 'POPULATION', 'FUND_TOTAL_ASSETS',
       'FUND_RETURN_TARGET_PERCENTAGE', 'INVESTMENT_RISK_LEVEL',
       'INVESTMENT_RISK_CATEGORY', 'CASH_BENCHMARK_ALLOCATION',
       'FIXED_INCOME_BENCHMARK_ALLOCATION',
       'DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'UNLISTED_EQUITY_BENCHMARK_ALLOCATION', 'EQUITY_BENCHMARK_ALLOCATION',
       'PROPERTY_BENCHMARK_ALLOCATION', 'INFRA_BENCHMARK_ALLOCATION',
       'COMMODITIES_BENCHMARK_ALLOCATION', 'OTHERS_BENCHMARK_ALLOCATION',
       'FUND_RISK_LEVEL', 'FUND_RISK_CATEGORY',
       'NEG_NETRETURN_SINCE_INCEPTION', 'YEAR_1_RETURNS', 'YEAR_3_RETURNS',
       'YEAR_5_RETURNS', 'YEAR_7_RETURNS', 'YEAR_10_RETURNS', 'SUPER_FEES',
       'PENSION_FEES', 'CHURN_FLAG', 'MEMBER_AGE', 'INVESTMENT_AGE_GROUP',
       'RETIREMENT_AGE', 'RETIREMENT_AGE_GROUP', 'TOTAL_FUNDS_INVESTED',
       'NO_OF_CHURN', 'MEMBER_DOB_DT', 'ALLOCATION_DT', 'CHURN_DT',
       'RETIREMENT_DT'],
      dtype='object')