In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

config = configparser.ConfigParser()
config.read("/notebooks/notebooks/credentials.ini")

connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [40]:
# df = session.table("MEMBER_FUNDS_ENRICHED_DETAILS").to_pandas()
df = pd.read_csv("/data/funds.csv")

In [24]:
# df.to_csv("/data/funds.csv", index=False)

In [41]:
df.head()

,MEMBER_ID,MEMBER_NAME,MEMBER_EMPLOYMENT,MEMBER_GENDER,MEMBER_CITY_TOWN,MEMBER_STATE,MEMBER_CONTACT_VERIFIED,FUND_ID,CHURN_REASON,LATITUDE,...,MEMBER_AGE,INVESTMENT_AGE_GROUP,RETIREMENT_AGE,RETIREMENT_AGE_GROUP,TOTAL_FUNDS_INVESTED,NO_OF_CHURN,MEMBER_DOB_DT,ALLOCATION_DT,CHURN_DT,RETIREMENT_DT
0,MID000001,Vallie Bachman,The University of Sydney,Female,Hobart,Tasmania,N,FID000106,NOT APPLICABLE,-42.8806,...,44,Middle-aged,21,MORE_THAN_10_YEAR,1,NaN,1980-01-08,2004-11-18,9999-12-31,2045-01-08
1,MID000028,Jani Herritt,Murdoch University,Female,Sydney,New South Wales,Y,FID000137,NOT APPLICABLE,-33.8678,...,52,Senior,13,MORE_THAN_10_YEAR,1,NaN,1972-02-27,2001-07-08,9999-12-31,2037-02-27
2,MID000044,Jani Rulapaugh,Torrens University Australia,Male,Melbourne,Victoria,Y,FID000050,NOT APPLICABLE,-37.8142,...,43,Middle-aged,22,MORE_THAN_10_YEAR,1,NaN,1981-02-17,2002-12-10,9999-12-31,2046-02-17
3,MID000089,Alease Hollack,University of New England,Male,Darwin,Northern Territory,N,FID000186,NOT APPLICABLE,-12.4381,...,43,Middle-aged,22,MORE_THAN_10_YEAR,1,NaN,1981-12-19,2002-08-13,9999-12-31,2046-12-19
4,MID000098,Devorah Whobrey,The University of Notre Dame Australia,Female,Darwin,Northern Territory,Y,FID000184,NOT APPLICABLE,-12.4381,...,59,Senior,6,IN_NEXT_5_YEAR,1,NaN,1965-12-07,2005-08-05,9999-12-31,2030-12-07

In [42]:
df.isna().sum() / df.shape[0]

MEMBER_ID                                           0.000000
MEMBER_NAME                                         0.000000
MEMBER_EMPLOYMENT                                   0.000000
MEMBER_GENDER                                       0.000000
MEMBER_CITY_TOWN                                    0.000000
MEMBER_STATE                                        0.000000
MEMBER_CONTACT_VERIFIED                             0.000000
FUND_ID                                             0.000000
CHURN_REASON                                        0.000000
LATITUDE                                            0.000000
LONGITUDE                                           0.000000
COUNTRY                                             0.000000
COUNTRYCODE                                         0.000000
CAPITAL                                             0.000000
POPULATION                                          0.000000
FUND_TOTAL_ASSETS                                   0.000000
FUND_RETURN_TARGET_PERCENTAGE                       0.000000
INVESTMENT_RISK_LEVEL                               0.000000
INVESTMENT_RISK_CATEGORY                            0.000000
CASH_BENCHMARK_ALLOCATION                           0.000000
FIXED_INCOME_BENCHMARK_ALLOCATION                   0.000000
DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION         0.000000
INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION    0.000000
UNLISTED_EQUITY_BENCHMARK_ALLOCATION                0.000000
EQUITY_BENCHMARK_ALLOCATION                         0.000000
PROPERTY_BENCHMARK_ALLOCATION                       0.000000
INFRA_BENCHMARK_ALLOCATION                          0.000000
COMMODITIES_BENCHMARK_ALLOCATION                    0.000000
OTHERS_BENCHMARK_ALLOCATION                         0.000000
FUND_RISK_LEVEL                                     0.000000
FUND_RISK_CATEGORY                                  0.000000
NEG_NETRETURN_SINCE_INCEPTION                       0.000000
YEAR_1_RETURNS                                      0.000000
YEAR_3_RETURNS                                      0.000000
YEAR_5_RETURNS                                      0.000000
YEAR_7_RETURNS                                      0.000000
YEAR_10_RETURNS                                     0.000000
SUPER_FEES                                          0.000000
PENSION_FEES                                        0.000000
CHURN_FLAG                                          0.000000
MEMBER_AGE                                          0.000000
INVESTMENT_AGE_GROUP                                0.000000
RETIREMENT_AGE                                      0.000000
RETIREMENT_AGE_GROUP                                0.000000
TOTAL_FUNDS_INVESTED                                0.000000
NO_OF_CHURN                                         0.484275
MEMBER_DOB_DT                                       0.000000
ALLOCATION_DT                                       0.000000
CHURN_DT                                            0.000000
RETIREMENT_DT                                       0.000000
dtype: float64

NO_OF_CHURN column has almost 50% missing value, it wont be wise to impute these many values so will just drop it.

In [43]:
df.columns

Index(['MEMBER_ID', 'MEMBER_NAME', 'MEMBER_EMPLOYMENT', 'MEMBER_GENDER',
       'MEMBER_CITY_TOWN', 'MEMBER_STATE', 'MEMBER_CONTACT_VERIFIED',
       'FUND_ID', 'CHURN_REASON', 'LATITUDE', 'LONGITUDE', 'COUNTRY',
       'COUNTRYCODE', 'CAPITAL', 'POPULATION', 'FUND_TOTAL_ASSETS',
       'FUND_RETURN_TARGET_PERCENTAGE', 'INVESTMENT_RISK_LEVEL',
       'INVESTMENT_RISK_CATEGORY', 'CASH_BENCHMARK_ALLOCATION',
       'FIXED_INCOME_BENCHMARK_ALLOCATION',
       'DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'UNLISTED_EQUITY_BENCHMARK_ALLOCATION', 'EQUITY_BENCHMARK_ALLOCATION',
       'PROPERTY_BENCHMARK_ALLOCATION', 'INFRA_BENCHMARK_ALLOCATION',
       'COMMODITIES_BENCHMARK_ALLOCATION', 'OTHERS_BENCHMARK_ALLOCATION',
       'FUND_RISK_LEVEL', 'FUND_RISK_CATEGORY',
       'NEG_NETRETURN_SINCE_INCEPTION', 'YEAR_1_RETURNS', 'YEAR_3_RETURNS',
       'YEAR_5_RETURNS', 'YEAR_7_RETURNS', 'YEAR_10_RETURNS', 'SUPER_FEES',
       'PENSION_FEES', 'CHURN_FLAG', 'MEMBER_AGE', 'INVESTMENT_AGE_GROUP',
       'RETIREMENT_AGE', 'RETIREMENT_AGE_GROUP', 'TOTAL_FUNDS_INVESTED',
       'NO_OF_CHURN', 'MEMBER_DOB_DT', 'ALLOCATION_DT', 'CHURN_DT',
       'RETIREMENT_DT'],
      dtype='object')

In [46]:
frame = df[["MEMBER_EMPLOYMENT",'MEMBER_GENDER','MEMBER_CITY_TOWN', 'MEMBER_STATE', 'MEMBER_CONTACT_VERIFIED','COUNTRYCODE',
          'FUND_TOTAL_ASSETS','FUND_RETURN_TARGET_PERCENTAGE', 'INVESTMENT_RISK_LEVEL',
       'INVESTMENT_RISK_CATEGORY', 'CASH_BENCHMARK_ALLOCATION','FIXED_INCOME_BENCHMARK_ALLOCATION',
       'DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION','INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'UNLISTED_EQUITY_BENCHMARK_ALLOCATION', 'EQUITY_BENCHMARK_ALLOCATION','PROPERTY_BENCHMARK_ALLOCATION',
           'INFRA_BENCHMARK_ALLOCATION','COMMODITIES_BENCHMARK_ALLOCATION', 'OTHERS_BENCHMARK_ALLOCATION','FUND_RISK_LEVEL', 
           'FUND_RISK_CATEGORY','NEG_NETRETURN_SINCE_INCEPTION', 'YEAR_1_RETURNS', 'YEAR_3_RETURNS','YEAR_5_RETURNS',
           'YEAR_7_RETURNS','YEAR_10_RETURNS', 'SUPER_FEES','PENSION_FEES', 'MEMBER_AGE',
           'INVESTMENT_AGE_GROUP',
           'RETIREMENT_AGE', 'RETIREMENT_AGE_GROUP', 'TOTAL_FUNDS_INVESTED','CHURN_FLAG']].copy()

In [47]:
frame["CHURN_FLAG"] = frame["CHURN_FLAG"].apply(lambda x: 1 if x =="Y" else 0)
# data

In [52]:
frame.groupby(["MEMBER_EMPLOYMENT","CHURN_FLAG"])[["CHURN_FLAG"]].count()

                                              CHURN_FLAG
MEMBER_EMPLOYMENT                 CHURN_FLAG
Australian Catholic University    0                 6627
                                  1                 2465
Australian National University    0                 6689
                                  1                 2560
Avondale University               0                 6490
...                                                  ...
University of Southern Queensland 1                 2584
University of Technology Sydney   0                 6449
                                  1                 2475
Victoria University               0                 6607
                                  1                 2551

[74 rows x 1 columns]

The distribution of CHURN is pretty common bettween the employers and hence wont contribute inn modelling

In [53]:
frame.groupby(["MEMBER_CITY_TOWN","CHURN_FLAG"])[["CHURN_FLAG"]].count()

                             CHURN_FLAG
MEMBER_CITY_TOWN CHURN_FLAG
Aberdare         0                  724
                 1                  274
Adelaide         0                  797
                 1                  334
Albury           0                  787
...                                 ...
Yarram           1                  301
Yass             0                  777
                 1                  285
Young            0                  737
                 1                  267

[632 rows x 1 columns]

In [56]:
frame.groupby(["COUNTRYCODE","CHURN_FLAG"])[["CHURN_FLAG"]].count()

                        CHURN_FLAG
COUNTRYCODE CHURN_FLAG
AU          0               243545
            1                92454

In [66]:
multiple = {i for i, j in dict(df["MEMBER_ID"].value_counts()).items() if j > 1 }
# multiple[multiple["value_counts"]>=2].index.to_list()

In [67]:
multiple

{'MID136844',
 'MID014091',
 'MID186636',
 'MID026333',
 'MID049838',
 'MID028907',
 'MID028389',
 'MID199845',
 'MID189419',
 'MID204636',
 'MID098510',
 'MID143771',
 'MID003820',
 'MID113907',
 'MID140377',
 'MID166291',
 'MID062426',
 'MID235225',
 'MID219063',
 'MID168858',
 'MID113092',
 'MID090725',
 'MID214927',
 'MID121445',
 'MID082222',
 'MID192820',
 'MID061661',
 'MID136820',
 'MID222223',
 'MID023564',
 'MID133561',
 'MID051480',
 'MID238272',
 'MID015690',
 'MID229201',
 'MID157750',
 'MID154905',
 'MID171731',
 'MID103728',
 'MID203171',
 'MID108967',
 'MID086318',
 'MID097837',
 'MID212420',
 'MID204552',
 'MID139030',
 'MID172421',
 'MID070563',
 'MID062706',
 'MID117290',
 'MID073882',
 'MID200901',
 'MID112536',
 'MID084232',
 'MID205472',
 'MID031708',
 'MID241188',
 'MID221946',
 'MID141922',
 'MID228583',
 'MID021928',
 'MID008882',
 'MID148113',
 'MID074606',
 'MID130213',
 'MID221823',
 'MID216603',
 'MID110761',
 'MID051406',
 'MID102948',
 'MID054204',
 'MID188458',
 'MID151091',
 'MID019210',
 'MID015917',
 'MID008286',
 'MID130825',
 'MID081256',
 'MID052047',
 'MID011035',
 'MID095488',
 'MID087670',
 'MID117281',
 'MID190340',
 'MID024561',
 'MID078033',
 'MID155850',
 'MID120202',
 'MID197242',
 'MID017175',
 'MID057237',
 'MID047694',
 'MID129306',
 'MID066591',
 'MID105883',
 'MID039900',
 'MID106442',
 'MID207967',
 'MID063688',
 'MID060384',
 'MID146707',
 'MID233376',
 'MID021010',
 'MID054246',
 'MID114311',
 'MID129540',
 'MID018492',
 'MID147504',
 'MID167451',
 'MID197705',
 'MID067252',
 'MID228013',
 'MID087681',
 'MID206622',
 'MID194538',
 'MID134666',
 'MID112118',
 'MID047499',
 'MID143163',
 'MID229154',
 'MID223720',
 'MID133828',
 'MID164489',
 'MID088428',
 'MID225929',
 'MID063812',
 'MID158104',
 'MID107116',
 'MID151779',
 'MID160212',
 'MID055908',
 'MID010289',
 'MID086209',
 'MID170800',
 'MID060738',
 'MID184006',
 'MID002602',
 'MID005242',
 'MID210997',
 'MID213487',
 'MID059695',
 'MID078861',
 'MID095879',
 'MID238478',
 'MID070306',
 'MID170136',
 'MID058670',
 'MID106067',
 'MID141688',
 'MID223529',
 'MID227159',
 'MID044621',
 'MID010524',
 'MID234022',
 'MID021464',
 'MID019540',
 'MID008479',
 'MID100138',
 'MID021219',
 'MID209343',
 'MID127812',
 'MID054830',
 'MID173685',
 'MID163274',
 'MID134822',
 'MID174238',
 'MID150144',
 'MID223668',
 'MID037555',
 'MID060926',
 'MID156923',
 'MID165936',
 'MID234520',
 'MID089199',
 'MID217651',
 'MID143216',
 'MID004605',
 'MID089324',
 'MID151592',
 'MID095596',
 'MID149760',
 'MID227850',
 'MID188970',
 'MID100607',
 'MID158224',
 'MID030825',
 'MID034327',
 'MID125791',
 'MID032799',
 'MID000644',
 'MID172144',
 'MID007460',
 'MID227153',
 'MID136916',
 'MID080346',
 'MID201651',
 'MID059430',
 'MID227070',
 'MID033265',
 'MID104956',
 'MID225500',
 'MID148407',
 'MID174314',
 'MID189833',
 'MID201061',
 'MID151163',
 'MID095105',
 'MID233447',
 'MID093714',
 'MID048607',
 'MID009318',
 'MID106424',
 'MID154306',
 'MID084198',
 'MID000412',
 'MID030071',
 'MID019485',
 'MID202965',
 'MID235426',
 'MID022132',
 'MID225817',
 'MID090493',
 'MID201348',
 'MID162752',
 'MID064890',
 'MID070493',
 'MID080791',
 'MID058936',
 'MID176639',
 'MID239727',
 'MID233501',
 'MID027541',
 'MID134686',
 'MID169963',
 'MID108985',
 'MID194897',
 'MID137632',
 'MID095999',
 'MID017102',
 'MID211654',
 'MID225996',
 'MID034802',
 'MID043403',
 'MID114785',
 'MID004888',
 'MID069998',
 'MID123372',
 'MID042718',
 'MID104714',
 'MID181777',
 'MID035335',
 'MID229499',
 'MID061533',
 'MID198618',
 'MID053847',
 'MID009736',
 'MID214508',
 'MID038452',
 'MID008887',
 'MID165359',
 'MID131468',
 'MID131651',
 'MID197461',
 'MID134381',
 'MID006513',
 'MID139288',
 'MID168921',
 'MID063774',
 'MID240946',
 'MID207382',
 'MID167169',
 'MID100142',
 'MID145779',
 'MID192385',
 'MID074311',
 'MID075402',
 'MID039802',
 'MID032892',
 'MID180236',
 'MID069648',
 'MID060482',
 'MID115199',
 'MID191549',
 'MID145467',
 'MID009907',
 'MID086899',
 'MID189766',
 'MID139626',
 'MID191259',
 'MID114682',
 'MID178958',
 'MID182550',
 'MID143865',
 'MID112739',
 'MID233166',
 'MID146625',
 'MID064269',
 'MID087929',
 'MID141952',
 'MID225349',
 'MID192086',
 'MID076652',
 'MID158178',
 'MID056394',
 'MID172728',
 'MID240461',
 'MID000395',
 'MID132950',
 'MID104607',
 'MID154309',
 'MID220879',
 'MID066299',
 'MID079079',
 'MID110151',
 'MID032491',
 'MID109226',
 'MID185991',
 'MID035903',
 'MID050082',
 'MID109976',
 'MID120283',
 'MID038440',
 'MID206453',
 'MID050660',
 'MID003995',
 'MID083208',
 'MID179268',
 'MID059523',
 'MID050215',
 'MID012719',
 'MID190795',
 'MID090981',
 'MID171968',
 'MID046636',
 'MID240529',
 'MID137099',
 'MID127377',
 'MID083450',
 'MID175683',
 'MID183496',
 'MID087220',
 'MID195561',
 'MID090401',
 'MID022506',
 'MID028288',
 'MID219454',
 'MID142224',
 'MID046030',
 'MID191023',
 'MID209953',
 'MID081814',
 'MID118777',
 'MID020150',
 'MID024747',
 'MID127034',
 'MID101038',
 'MID019165',
 'MID156218',
 'MID004597',
 'MID183646',
 'MID227385',
 'MID207333',
 'MID186582',
 'MID157598',
 'MID127152',
 'MID053527',
 'MID056586',
 'MID185246',
 'MID024989',
 'MID218512',
 'MID192720',
 'MID211774',
 'MID169701',
 'MID141112',
 'MID165279',
 'MID014130',
 'MID106647',
 'MID128925',
 'MID109877',
 'MID112213',
 'MID076608',
 'MID202809',
 'MID034689',
 'MID147106',
 'MID205669',
 'MID092195',
 'MID062270',
 'MID113187',
 'MID143137',
 'MID133049',
 'MID228119',
 'MID104474',
 'MID183673',
 'MID148234',
 'MID119678',
 'MID107674',
 'MID128947',
 'MID224178',
 'MID089250',
 'MID207431',
 'MID175882',
 'MID199927',
 'MID043758',
 'MID050978',
 'MID217027',
 'MID060108',
 'MID189264',
 'MID136782',
 'MID059499',
 'MID127125',
 'MID167449',
 'MID188006',
 'MID054045',
 'MID238651',
 'MID035284',
 'MID222015',
 'MID131339',
 'MID231916',
 'MID221933',
 'MID180494',
 'MID042066',
 'MID016951',
 'MID087175',
 'MID078566',
 'MID011248',
 'MID032278',
 'MID213637',
 'MID075077',
 'MID079624',
 'MID141849',
 'MID125579',
 'MID033035',
 'MID240742',
 'MID036191',
 'MID021617',
 'MID126377',
 'MID063216',
 'MID230679',
 'MID112573',
 'MID030551',
 'MID085461',
 'MID120248',
 'MID043991',
 'MID121540',
 'MID174741',
 'MID235026',
 'MID059396',
 'MID169057',
 'MID183293',
 'MID056974',
 'MID015191',
 'MID148706',
 'MID146321',
 'MID226332',
 'MID014836',
 'MID101659',
 'MID095302',
 'MID201300',
 'MID071711',
 'MID206985',
 'MID175091',
 'MID150778',
 'MID035479',
 'MID062392',
 'MID114907',
 'MID114614',
 'MID029616',
 'MID020318',
 'MID031094',
 'MID189900',
 'MID064343',
 'MID109783',
 'MID109859',
 'MID158798',
 'MID037770',
 'MID232352',
 'MID049339',
 'MID097203',
 'MID188149',
 'MID162742',
 'MID142933',
 'MID117057',
 'MID028764',
 'MID117232',
 'MID147618',
 'MID018955',
 'MID043778',
 'MID124035',
 'MID215648',
 'MID009982',
 'MID235741',
 'MID174673',
 'MID033822',
 'MID056814',
 'MID097088',
 'MID077786',
 'MID007322',
 'MID173491',
 'MID171974',
 'MID071794',
 'MID174084',
 'MID100886',
 'MID107945',
 'MID230533',
 'MID082253',
 'MID093318',
 'MID108868',
 'MID025065',
 'MID085593',
 'MID146753',
 'MID237894',
 'MID088721',
 'MID235825',
 'MID203012',
 'MID178264',
 'MID153812',
 'MID193279',
 'MID065844',
 'MID085713',
 'MID065586',
 'MID131846',
 'MID177782',
 'MID075935',
 'MID096457',
 'MID087476',
 'MID132968',
 'MID187586',
 'MID205258',
 'MID142409',
 'MID133846',
 'MID051371',
 'MID151820',
 'MID124140',
 'MID170251',
 'MID014970',
 'MID023370',
 'MID204995',
 'MID128686',
 'MID076409',
 'MID009695',
 'MID216061',
 'MID217667',
 'MID031160',
 'MID090464',
 'MID119925',
 'MID090971',
 'MID101260',
 'MID051662',
 'MID166105',
 'MID164459',
 'MID228730',
 'MID168234',
 'MID212179',
 'MID151286',
 'MID142113',
 'MID002574',
 'MID091993',
 'MID192342',
 'MID025407',
 'MID221951',
 'MID223410',
 'MID090110',
 'MID055488',
 'MID000277',
 'MID146996',
 'MID092297',
 'MID178278',
 'MID183773',
 'MID236544',
 'MID038367',
 'MID238904',
 'MID191725',
 'MID235138',
 'MID031557',
 'MID095325',
 'MID137634',
 'MID049672',
 'MID188031',
 'MID086903',
 'MID203277',
 'MID086157',
 'MID034742',
 'MID084165',
 'MID107419',
 'MID073953',
 'MID202822',
 'MID009037',
 'MID074030',
 'MID007822',
 'MID174981',
 'MID129591',
 'MID049539',
 'MID083106',
 'MID185804',
 'MID025122',
 'MID226213',
 'MID019697',
 'MID141764',
 'MID232677',
 'MID014975',
 'MID239303',
 'MID137826',
 'MID032739',
 'MID229472',
 'MID213081',
 'MID177237',
 'MID056277',
 'MID209216',
 'MID159843',
 'MID165322',
 'MID057867',
 'MID185343',
 'MID074416',
 'MID220803',
 'MID210042',
 'MID045575',
 'MID121714',
 'MID019214',
 'MID238618',
 'MID240211',
 'MID174839',
 'MID067761',
 'MID080759',
 'MID225206',
 'MID153482',
 'MID011085',
 'MID122828',
 'MID210962',
 'MID099721',
 'MID002200',
 'MID001058',
 'MID017392',
 'MID092204',
 'MID201901',
 'MID206877',
 'MID240046',
 'MID204977',
 'MID238654',
 'MID021490',
 'MID060348',
 'MID065564',
 'MID210734',
 'MID027955',
 'MID189859',
 'MID229085',
 'MID233576',
 'MID194250',
 'MID045031',
 'MID218268',
 'MID094362',
 'MID228052',
 'MID067858',
 'MID235998',
 'MID047230',
 'MID119130',
 'MID196388',
 'MID066884',
 'MID178883',
 'MID029531',
 'MID021614',
 'MID049243',
 'MID110849',
 'MID127921',
 'MID041513',
 'MID037831',
 'MID202795',
 'MID098031',
 'MID105265',
 'MID075261',
 'MID016200',
 'MID121520',
 'MID106055',
 'MID057181',
 'MID086245',
 'MID140132',
 'MID121536',
 'MID111148',
 'MID067182',
 'MID115734',
 'MID069768',
 'MID133473',
 'MID019233',
 'MID025562',
 'MID022793',
 'MID210101',
 'MID051153',
 'MID132289',
 'MID174404',
 'MID137129',
 'MID073841',
 'MID124012',
 'MID121130',
 'MID179625',
 'MID189729',
 'MID167461',
 'MID005191',
 'MID206048',
 'MID100777',
 'MID172404',
 'MID100652',
 'MID065709',
 'MID134838',
 'MID000349',
 'MID221965',
 'MID167280',
 'MID116342',
 'MID204688',
 'MID149007',
 'MID110946',
 'MID079215',
 'MID221246',
 'MID115788',
 'MID192670',
 'MID202938',
 'MID054099',
 'MID121588',
 'MID228194',
 'MID028099',
 'MID086041',
 'MID119094',
 'MID218228',
 'MID039465',
 'MID044728',
 'MID174410',
 'MID068620',
 'MID001799',
 'MID070111',
 'MID013141',
 'MID064623',
 'MID142617',
 'MID197806',
 'MID054780',
 'MID130557',
 'MID104131',
 'MID012478',
 'MID188050',
 'MID124122',
 'MID240970',
 'MID010530',
 'MID156907',
 'MID163974',
 'MID227289',
 'MID194166',
 'MID199125',
 'MID098033',
 'MID213983',
 'MID179294',
 'MID031547',
 'MID098684',
 'MID194271',
 'MID174773',
 'MID122913',
 'MID156256',
 'MID210653',
 'MID136306',
 'MID077512',
 'MID126873',
 'MID147311',
 'MID107558',
 'MID114245',
 'MID095971',
 'MID097102',
 'MID051634',
 'MID225823',
 'MID193041',
 'MID021391',
 'MID087285',
 'MID057244',
 'MID215922',
 'MID138153',
 'MID171418',
 'MID151925',
 'MID113681',
 'MID094660',
 'MID088654',
 'MID022727',
 'MID094341',
 'MID052357',
 'MID012434',
 'MID128365',
 'MID041756',
 'MID126673',
 'MID186543',
 'MID194601',
 'MID069429',
 'MID038963',
 'MID181095',
 'MID192438',
 'MID156556',
 'MID203204',
 'MID193302',
 'MID199024',
 'MID127571',
 'MID229965',
 'MID065802',
 'MID214761',
 'MID228942',
 'MID200723',
 'MID171738',
 'MID132349',
 'MID057638',
 'MID029771',
 'MID168180',
 'MID065408',
 'MID049455',
 'MID046246',
 'MID229026',
 'MID229524',
 'MID116724',
 'MID114764',
 'MID029259',
 'MID027326',
 'MID233500',
 'MID198371',
 'MID037113',
 'MID146744',
 'MID207294',
 'MID178639',
 'MID067359',
 'MID211441',
 'MID240782',
 'MID125451',
 'MID070316',
 'MID144299',
 'MID202277',
 'MID150360',
 'MID214135',
 'MID119360',
 'MID139435',
 'MID127442',
 'MID020124',
 'MID018431',
 'MID211558',
 'MID176432',
 'MID198535',
 'MID105260',
 'MID214043',
 'MID016048',
 'MID163082',
 'MID222129',
 'MID078431',
 'MID192271',
 'MID124463',
 'MID137743',
 'MID079874',
 'MID240207',
 'MID069242',
 'MID031233',
 'MID191892',
 'MID152446',
 'MID036147',
 'MID003970',
 'MID092351',
 'MID112359',
 'MID227555',
 'MID095407',
 'MID214953',
 'MID056815',
 'MID185651',
 'MID110840',
 'MID013598',
 'MID116282',
 'MID074839',
 'MID223861',
 'MID148732',
 'MID241429',
 'MID060107',
 'MID106320',
 'MID101043',
 'MID144833',
 'MID085557',
 'MID121264',
 'MID063709',
 'MID048182',
 'MID189013',
 'MID110421',
 'MID083080',
 'MID089339',
 'MID096971',
 'MID076874',
 'MID097980',
 'MID202504',
 'MID183181',
 'MID200821',
 'MID072549',
 'MID016397',
 'MID032041',
 'MID121250',
 'MID188408',
 'MID212329',
 'MID214726',
 'MID134218',
 'MID113381',
 'MID213988',
 'MID043932',
 'MID082122',
 'MID131544',
 'MID067181',
 'MID069945',
 'MID108455',
 'MID189370',
 'MID160362',
 'MID026089',
 'MID199675',
 'MID237332',
 'MID227857',
 'MID021699',
 'MID190549',
 'MID211141',
 'MID054073',
 'MID046770',
 'MID095512',
 'MID149065',
 'MID057128',
 'MID140026',
 'MID210951',
 'MID089181',
 'MID128182',
 'MID012555',
 'MID181895',
 'MID053482',
 'MID198791',
 'MID152825',
 'MID180059',
 'MID174309',
 'MID140646',
 'MID040749',
 'MID020440',
 'MID036875',
 'MID185663',
 'MID185044',
 'MID127396',
 'MID196632',
 'MID097974',
 'MID199077',
 'MID031175',
 'MID187178',
 'MID142811',
 'MID021661',
 'MID017888',
 'MID149377',
 'MID139567',
 'MID148900',
 'MID156136',
 'MID009101',
 'MID044941',
 'MID139398',
 'MID166920',
 'MID201701',
 'MID165627',
 'MID091590',
 'MID131691',
 'MID129574',
 'MID235644',
 'MID067623',
 'MID108734',
 'MID130665',
 'MID211258',
 'MID149780',
 'MID056632',
 'MID051515',
 'MID020284',
 'MID034408',
 'MID020520',
 'MID032756',
 'MID160994',
 'MID002331',
 'MID060726',
 'MID198780',
 'MID162719',
 'MID074969',
 'MID090259',
 'MID039614',
 'MID172431',
 'MID187495',
 'MID163555',
 'MID187430',
 'MID181238',
 'MID076764',
 'MID078300',
 'MID127495',
 'MID125269',
 'MID074583',
 'MID147390',
 'MID148417',
 'MID193994',
 'MID102612',
 'MID019747',
 'MID043262',
 'MID103521',
 'MID198716',
 'MID212320',
 'MID194385',
 'MID073686',
 'MID168017',
 'MID048929',
 'MID060371',
 'MID105621',
 'MID140555',
 'MID100920',
 ...}

In [73]:
df[df["MEMBER_ID"] == "MID199845"]

,MEMBER_ID,MEMBER_NAME,MEMBER_EMPLOYMENT,MEMBER_GENDER,MEMBER_CITY_TOWN,MEMBER_STATE,MEMBER_CONTACT_VERIFIED,FUND_ID,CHURN_REASON,LATITUDE,...,MEMBER_AGE,INVESTMENT_AGE_GROUP,RETIREMENT_AGE,RETIREMENT_AGE_GROUP,TOTAL_FUNDS_INVESTED,NO_OF_CHURN,MEMBER_DOB_DT,ALLOCATION_DT,CHURN_DT,RETIREMENT_DT
161474,MID199845,Louvenia Stockham,The University of Melbourne,Female,Brunswick Heads,New South Wales,N,FID000034,NOT APPLICABLE,-28.5333,...,56,Senior,9,IN_NEXT_10_YEAR,2,1.0,1968-02-17,2009-06-06,9999-12-31,2033-02-17
326996,MID199845,Louvenia Stockham,The University of Melbourne,Female,Brunswick Heads,New South Wales,N,FID000096,POOR FUND PERFORMANCE,-28.5333,...,56,Senior,9,IN_NEXT_10_YEAR,2,1.0,1968-02-17,2005-05-19,2009-06-05,2033-02-17