In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

config = configparser.ConfigParser()
config.read("/notebooks/notebooks/credentials.ini")

connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [3]:
df = session.table("MEMBER_FUNDS_ENRICHED_DETAILS").to_pandas()
# df = pd.read_csv("/data/funds.csv")

In [4]:
df.to_csv("/data/funds.csv", index=False)

In [5]:
df.head()

,MEMBER_ID,MEMBER_NAME,MEMBER_EMPLOYMENT,MEMBER_GENDER,MEMBER_CITY_TOWN,MEMBER_STATE,MEMBER_CONTACT_VERIFIED,FUND_ID,CHURN_REASON,LATITUDE,...,MEMBER_AGE,INVESTMENT_AGE_GROUP,RETIREMENT_AGE,RETIREMENT_AGE_GROUP,TOTAL_FUNDS_INVESTED,NO_OF_CHURN,MEMBER_DOB_DT,ALLOCATION_DT,CHURN_DT,RETIREMENT_DT
0,MID000001,Vallie Bachman,The University of Sydney,Female,Hobart,Tasmania,N,FID000106,NOT APPLICABLE,-42.8806,...,44,Middle-aged,21,MORE_THAN_10_YEAR,1,NaN,1980-01-08,2004-11-18,9999-12-31,2045-01-08
1,MID000028,Jani Herritt,Murdoch University,Female,Sydney,New South Wales,Y,FID000137,NOT APPLICABLE,-33.8678,...,52,Senior,13,MORE_THAN_10_YEAR,1,NaN,1972-02-27,2001-07-08,9999-12-31,2037-02-27
2,MID000044,Jani Rulapaugh,Torrens University Australia,Male,Melbourne,Victoria,Y,FID000050,NOT APPLICABLE,-37.8142,...,43,Middle-aged,22,MORE_THAN_10_YEAR,1,NaN,1981-02-17,2002-12-10,9999-12-31,2046-02-17
3,MID000089,Alease Hollack,University of New England,Male,Darwin,Northern Territory,N,FID000186,NOT APPLICABLE,-12.4381,...,43,Middle-aged,22,MORE_THAN_10_YEAR,1,NaN,1981-12-19,2002-08-13,9999-12-31,2046-12-19
4,MID000098,Devorah Whobrey,The University of Notre Dame Australia,Female,Darwin,Northern Territory,Y,FID000184,NOT APPLICABLE,-12.4381,...,59,Senior,6,IN_NEXT_5_YEAR,1,NaN,1965-12-07,2005-08-05,9999-12-31,2030-12-07

In [10]:
df.isna().sum() / df.shape[0]

MEMBER_ID                                           0.000000
MEMBER_NAME                                         0.000000
MEMBER_EMPLOYMENT                                   0.000000
MEMBER_GENDER                                       0.000000
MEMBER_CITY_TOWN                                    0.000000
MEMBER_STATE                                        0.000000
MEMBER_CONTACT_VERIFIED                             0.000000
FUND_ID                                             0.000000
CHURN_REASON                                        0.000000
LATITUDE                                            0.000000
LONGITUDE                                           0.000000
COUNTRY                                             0.000000
COUNTRYCODE                                         0.000000
CAPITAL                                             0.000000
POPULATION                                          0.000000
FUND_TOTAL_ASSETS                                   0.000000
FUND_RETURN_TARGET_PERCENTAGE                       0.000000
INVESTMENT_RISK_LEVEL                               0.000000
INVESTMENT_RISK_CATEGORY                            0.000000
CASH_BENCHMARK_ALLOCATION                           0.000000
FIXED_INCOME_BENCHMARK_ALLOCATION                   0.000000
DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION         0.000000
INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION    0.000000
UNLISTED_EQUITY_BENCHMARK_ALLOCATION                0.000000
EQUITY_BENCHMARK_ALLOCATION                         0.000000
PROPERTY_BENCHMARK_ALLOCATION                       0.000000
INFRA_BENCHMARK_ALLOCATION                          0.000000
COMMODITIES_BENCHMARK_ALLOCATION                    0.000000
OTHERS_BENCHMARK_ALLOCATION                         0.000000
FUND_RISK_LEVEL                                     0.000000
FUND_RISK_CATEGORY                                  0.000000
NEG_NETRETURN_SINCE_INCEPTION                       0.000000
YEAR_1_RETURNS                                      0.000000
YEAR_3_RETURNS                                      0.000000
YEAR_5_RETURNS                                      0.000000
YEAR_7_RETURNS                                      0.000000
YEAR_10_RETURNS                                     0.000000
SUPER_FEES                                          0.000000
PENSION_FEES                                        0.000000
CHURN_FLAG                                          0.000000
MEMBER_AGE                                          0.000000
INVESTMENT_AGE_GROUP                                0.000000
RETIREMENT_AGE                                      0.000000
RETIREMENT_AGE_GROUP                                0.000000
TOTAL_FUNDS_INVESTED                                0.000000
NO_OF_CHURN                                         0.484275
MEMBER_DOB_DT                                       0.000000
ALLOCATION_DT                                       0.000000
CHURN_DT                                            0.000000
RETIREMENT_DT                                       0.000000
dtype: float64

NO_OF_CHURN column has almost 50% missing value, it wont be wise to impute these many values so will just drop it.

In [12]:
df.columns

Index(['MEMBER_ID', 'MEMBER_NAME', 'MEMBER_EMPLOYMENT', 'MEMBER_GENDER',
       'MEMBER_CITY_TOWN', 'MEMBER_STATE', 'MEMBER_CONTACT_VERIFIED',
       'FUND_ID', 'CHURN_REASON', 'LATITUDE', 'LONGITUDE', 'COUNTRY',
       'COUNTRYCODE', 'CAPITAL', 'POPULATION', 'FUND_TOTAL_ASSETS',
       'FUND_RETURN_TARGET_PERCENTAGE', 'INVESTMENT_RISK_LEVEL',
       'INVESTMENT_RISK_CATEGORY', 'CASH_BENCHMARK_ALLOCATION',
       'FIXED_INCOME_BENCHMARK_ALLOCATION',
       'DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'UNLISTED_EQUITY_BENCHMARK_ALLOCATION', 'EQUITY_BENCHMARK_ALLOCATION',
       'PROPERTY_BENCHMARK_ALLOCATION', 'INFRA_BENCHMARK_ALLOCATION',
       'COMMODITIES_BENCHMARK_ALLOCATION', 'OTHERS_BENCHMARK_ALLOCATION',
       'FUND_RISK_LEVEL', 'FUND_RISK_CATEGORY',
       'NEG_NETRETURN_SINCE_INCEPTION', 'YEAR_1_RETURNS', 'YEAR_3_RETURNS',
       'YEAR_5_RETURNS', 'YEAR_7_RETURNS', 'YEAR_10_RETURNS', 'SUPER_FEES',
       'PENSION_FEES', 'CHURN_FLAG', 'MEMBER_AGE', 'INVESTMENT_AGE_GROUP',
       'RETIREMENT_AGE', 'RETIREMENT_AGE_GROUP', 'TOTAL_FUNDS_INVESTED',
       'NO_OF_CHURN', 'MEMBER_DOB_DT', 'ALLOCATION_DT', 'CHURN_DT',
       'RETIREMENT_DT'],
      dtype='object')

In [13]:
data = df[["MEMBER_EMPLOYMENT",'MEMBER_GENDER','MEMBER_CITY_TOWN', 'MEMBER_STATE', 'MEMBER_CONTACT_VERIFIED','COUNTRYCODE',
          'FUND_TOTAL_ASSETS','FUND_RETURN_TARGET_PERCENTAGE', 'INVESTMENT_RISK_LEVEL',
       'INVESTMENT_RISK_CATEGORY', 'CASH_BENCHMARK_ALLOCATION','FIXED_INCOME_BENCHMARK_ALLOCATION',
       'DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION','INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'UNLISTED_EQUITY_BENCHMARK_ALLOCATION', 'EQUITY_BENCHMARK_ALLOCATION','PROPERTY_BENCHMARK_ALLOCATION',
           'INFRA_BENCHMARK_ALLOCATION','COMMODITIES_BENCHMARK_ALLOCATION', 'OTHERS_BENCHMARK_ALLOCATION','FUND_RISK_LEVEL', 
           'FUND_RISK_CATEGORY','NEG_NETRETURN_SINCE_INCEPTION', 'YEAR_1_RETURNS', 'YEAR_3_RETURNS','YEAR_5_RETURNS',
           'YEAR_7_RETURNS','YEAR_10_RETURNS', 'SUPER_FEES','PENSION_FEES', 'CHURN_FLAG', 'MEMBER_AGE',
           'INVESTMENT_AGE_GROUP',
           'RETIREMENT_AGE', 'RETIREMENT_AGE_GROUP', 'TOTAL_FUNDS_INVESTED','CHURN_FLAG']]

In [15]:
data

,MEMBER_EMPLOYMENT,MEMBER_GENDER,MEMBER_CITY_TOWN,MEMBER_STATE,MEMBER_CONTACT_VERIFIED,COUNTRYCODE,FUND_TOTAL_ASSETS,FUND_RETURN_TARGET_PERCENTAGE,INVESTMENT_RISK_LEVEL,INVESTMENT_RISK_CATEGORY,...,YEAR_10_RETURNS,SUPER_FEES,PENSION_FEES,CHURN_FLAG,MEMBER_AGE,INVESTMENT_AGE_GROUP,RETIREMENT_AGE,RETIREMENT_AGE_GROUP,TOTAL_FUNDS_INVESTED,CHURN_FLAG
0,The University of Sydney,Female,Hobart,Tasmania,N,AU,203653.1,4.229630,3.222222,Medium-Low,...,5.71,0.53,0.46,N,44,Middle-aged,21,MORE_THAN_10_YEAR,1,N
1,Murdoch University,Female,Sydney,New South Wales,Y,AU,11341.0,3.500000,3.960000,Medium-High,...,5.48,0.51,0.42,N,52,Senior,13,MORE_THAN_10_YEAR,1,N
2,Torrens University Australia,Male,Melbourne,Victoria,Y,AU,919979.7,4.526786,3.000000,Low,...,2.54,0.13,0.13,N,43,Middle-aged,22,MORE_THAN_10_YEAR,1,N
3,University of New England,Male,Darwin,Northern Territory,N,AU,3102.3,4.122222,3.000000,Low,...,2.95,0.14,0.14,N,43,Middle-aged,22,MORE_THAN_10_YEAR,1,N
4,The University of Notre Dame Australia,Female,Darwin,Northern Territory,Y,AU,1313.2,2.600000,4.023077,Medium-High,...,5.72,0.53,0.45,N,59,Senior,6,IN_NEXT_5_YEAR,1,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335994,La Trobe University,Female,Goonellabah,New South Wales,Y,AU,35810.9,3.178571,4.550000,High,...,7.77,0.55,0.56,Y,57,Senior,8,IN_NEXT_10_YEAR,2,Y
335995,Central Queensland University,Female,North Mackay,Queensland,Y,AU,12332.5,3.000000,5.000000,Very High,...,9.50,0.45,0.39,Y,28,Young,37,MORE_THAN_10_YEAR,2,Y
335996,Bond University,Male,Whyalla,South Australia,N,AU,203653.1,4.229630,3.222222,Medium-Low,...,5.71,0.53,0.46,Y,36,Middle-aged,29,MORE_THAN_10_YEAR,2,Y
335997,University of Canberra,Female,Walgett,New South Wales,Y,AU,12332.5,3.000000,5.000000,Very High,...,9.50,0.45,0.39,Y,44,Middle-aged,21,MORE_THAN_10_YEAR,2,Y
335998,Queensland University of Technology,Male,Esperance,Western Australia,N,AU,15172.8,2.980000,4.314000,High,...,8.28,0.60,0.51,Y,40,Middle-aged,25,MORE_THAN_10_YEAR,2,Y