In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib created a temporary cache directory at /tmp/matplotlib-htn_2zgh because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [2]:
df =  pd.read_csv('/data/Input/My_super.csv')

<ipython-input-2-794884c2a58d>:1: DtypeWarning: Columns (0,1,2,3,5,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df =  pd.read_csv('/data/Input/My_super.csv')

In [3]:
df.shape

(1047628, 47)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047628 entries, 0 to 1047627
Data columns (total 47 columns):
 #   Column                                                                                                Non-Null Count  Dtype
---  ------                                                                                                --------------  -----
 0   Period                                                                                                2987 non-null   object
 1   MySuper product name                                                                                  2987 non-null   object
 2   MySuper product type                                                                                  2987 non-null   object
 3   Lifecycle strategy indicator                                                                          852 non-null    object
 4   Number of lifecycle stages                                                                            852 non-null    float64
 5   Fund name                                                                                             2987 non-null   object
 6   Fund ABN                                                                                              2987 non-null   float64
 7   Fund trustee                                                                                          2987 non-null   object
 8   Fund public offer status                                                                              2987 non-null   object
 9   Fund type                                                                                             2987 non-null   object
 10  Total assets                                                                                          2989 non-null   object
 11  Return target (annualised target net return above CPI over ten years)                                 2135 non-null   object
 12  Level of investment risk (estimated number of negative net investment returns over a 20 year period)  2134 non-null   float64
 13  Level of investment risk label                                                                        2134 non-null   object
 14  Statement of fees and other costs                                                                     2135 non-null   object
 15  Total Investments                                                                                     2988 non-null   object
 16  Cash - Benchmark asset allocation                                                                     2075 non-null   object
 17  Cash - Lower end of asset allocation range                                                            2075 non-null   object
 18  Cash - Upper end of asset allocation range                                                            2075 non-null   object
 19  Fixed income - Benchmark asset allocation                                                             2133 non-null   object
 20  Fixed income - Lower end of asset allocation range                                                    2133 non-null   object
 21  Fixed income - Upper end of asset allocation range                                                    2133 non-null   object
 22  Australian listed equity  - Benchmark asset allocation                                                1902 non-null   object
 23  Australian listed equity - Lower end of asset allocation range                                        1902 non-null   object
 24  Australian listed equity - Upper end of asset allocation range                                        1902 non-null   object
 25  International listed equity - Benchmark asset allocation                                              1837 non-null   object
 26  International listed equity - Lower end of asset allocation range                                     1837 non-null   object
 27  International listed equity - Upper end of asset allocation range                                     1837 non-null   object
 28  Unlisted equity  - Benchmark asset allocation                                                         1052 non-null   object
 29  Unlisted equity - Lower end of asset allocation range                                                 1052 non-null   object
 30  Unlisted equity - Upper end of asset allocation range                                                 1052 non-null   object
 31  Equity (listing and/or domicile not specified) - Benchmark asset allocation                           303 non-null    object
 32  Equity - listing and/or domicile not specified - Lower end of asset allocation range                  303 non-null    object
 33  Equity - listing and/or domicile not specified - Upper end of asset allocation range                  303 non-null    object
 34  Property - Benchmark asset allocation                                                                 2045 non-null   object
 35  Property - Lower end of asset allocation range                                                        2045 non-null   object
 36  Property - Upper end of asset allocation range                                                        2045 non-null   object
 37  Infrastructure - Benchmark asset allocation                                                           1719 non-null   object
 38  Infrastructure - Lower end of asset allocation range                                                  1719 non-null   object
 39  Infrastructure -Upper end of asset allocation range                                                   1719 non-null   object
 40  Commodities - Benchmark asset allocation                                                              214 non-null    object
 41  Commodities - Lower end of asset allocation range                                                     214 non-null    object
 42  Commodities - Upper end of asset allocation range                                                     214 non-null    object
 43  Other investments - Benchmark asset allocation                                                        1642 non-null   object
 44  Other investments - Lower end of asset allocation range                                               1642 non-null   object
 45  Other investments - Upper end of asset allocation range                                               1642 non-null   object
 46  Unnamed: 46                                                                                           0 non-null      float64
dtypes: float64(4), object(43)
memory usage: 375.7+ MB

In [5]:
df.describe()

,Number of lifecycle stages,Fund ABN,Level of investment risk (estimated number of negative net investment returns over a 20 year period),Unnamed: 46
count,852.000000,2.987000e+03,2134.000000,0.0
mean,8.024648,5.527660e+10,3.712034,NaN
std,6.570640,2.551359e+10,0.813943,NaN
min,2.000000,1.178943e+10,0.000000,NaN
25%,4.000000,3.009932e+10,3.000000,NaN
50%,6.000000,5.824412e+10,3.600000,NaN
75%,8.000000,7.651477e+10,4.000000,NaN
max,41.000000,9.850314e+10,7.000000,NaN

In [6]:
df.head()

,Period,MySuper product name,MySuper product type,Lifecycle strategy indicator,Number of lifecycle stages,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,...,Infrastructure - Benchmark asset allocation,Infrastructure - Lower end of asset allocation range,Infrastructure -Upper end of asset allocation range,Commodities - Benchmark asset allocation,Commodities - Lower end of asset allocation range,Commodities - Upper end of asset allocation range,Other investments - Benchmark asset allocation,Other investments - Lower end of asset allocation range,Other investments - Upper end of asset allocation range,Unnamed: 46
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(%),(%),(%),(%),(%),(%),(%),(%),(%),NaN
1,30/06/2020,AMG MySuper,Generic,NaN,NaN,AMG Super,3.009932e+10,Equity Trustees Superannuation Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30/06/2020,AFLPA & AFL Industry MySuper,Large employer,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30/06/2020,AMP MySuper No.3,Generic,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30/06/2020,Brookfield Australia MySuper,Large employer,NaN,NaN,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,5.0,0.0,15.0,NaN,NaN,NaN,9.0,0.0,20.0,NaN

In [7]:
# Skip the first row (index 0) using the `iloc` method
df = df.iloc[1:]

In [8]:
# Drop the NaN column
df.drop('Unnamed: 46', inplace=True, axis=1)

In [9]:
df.head()

,Period,MySuper product name,MySuper product type,Lifecycle strategy indicator,Number of lifecycle stages,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,...,Property - Upper end of asset allocation range,Infrastructure - Benchmark asset allocation,Infrastructure - Lower end of asset allocation range,Infrastructure -Upper end of asset allocation range,Commodities - Benchmark asset allocation,Commodities - Lower end of asset allocation range,Commodities - Upper end of asset allocation range,Other investments - Benchmark asset allocation,Other investments - Lower end of asset allocation range,Other investments - Upper end of asset allocation range
1,30/06/2020,AMG MySuper,Generic,NaN,NaN,AMG Super,3.009932e+10,Equity Trustees Superannuation Limited,Public offer,Retail,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30/06/2020,AFLPA & AFL Industry MySuper,Large employer,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30/06/2020,AMP MySuper No.3,Generic,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30/06/2020,Brookfield Australia MySuper,Large employer,NaN,NaN,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,30.0,5.0,0.0,15.0,NaN,NaN,NaN,9.0,0.0,20.0
5,30/06/2020,CCA MySuper,Large employer,Lifecycle,5.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cat_columns = ['MySuper product name','MySuper product type','Lifecycle strategy indicator','Fund name',
               'Fund trustee','Fund public offer status','Fund type','Level of investment risk label']

In [11]:
for col in cat_columns:
    print ("------------------------------------------------")
    print (col, " -> ",df[col].value_counts())

------------------------------------------------
MySuper product name  ->  MySuper product name
MySuper Balanced               119
MySuper                        100
Balanced (MySuper)              84
Balanced                        72
Active Balanced                 47
                              ...
RT Growth (MySuper)              5
MYSUPER INVESTMENT OPTION        3
Growth [HIP MySuper] Option      3
GoalTracker                      2
VicSuper Growth (MySuper)        1
Name: count, Length: 120, dtype: int64
------------------------------------------------
MySuper product type  ->  MySuper product type
Generic              2606
Large employer        364
Material goodwill      17
Name: count, dtype: int64
------------------------------------------------
Lifecycle strategy indicator  ->  Lifecycle strategy indicator
Lifecycle    852
Name: count, dtype: int64
------------------------------------------------
Fund name  ->  Fund name
AMP Superannuation Savings Trust        221
Mercer Super Trust                      102
AustralianSuper                          60
Retirement Wrap                          55
OnePath Masterfund                       43
                                       ...
The Flexible Benefits Super Fund         10
Toyota Australia Superannuation Plan     10
Quadrant Superannuation Scheme            9
CBH Superannuation Fund                   9
Health Industry Plan                      3
Name: count, Length: 110, dtype: int64
------------------------------------------------
Fund trustee  ->  Fund trustee
AMP Superannuation Limited                             248
Mercer Superannuation (Australia) Limited              102
Towers Watson Superannuation Pty Ltd                    83
BT Funds Management Limited                             83
Diversa Trustees Limited                                73
                                                      ...
C.B.H. Superannuation Holdings Pty Ltd                   9
QT Investment Management Pty Ltd                         9
National Australia Bank Superannuation Fund Pty Ltd      5
CCSL Limited                                             3
Private Hospitals Superannuation Pty. Ltd.               3
Name: count, Length: 96, dtype: int64
------------------------------------------------
Fund public offer status  ->  Fund public offer status
Public offer        2243
Non public offer     744
Name: count, dtype: int64
------------------------------------------------
Fund type  ->  Fund type
Retail           1162
Industry         1131
Corporate         384
Public Sector     310
Name: count, dtype: int64
------------------------------------------------
Level of investment risk label  ->  Level of investment risk label
Medium to high    1161
High               656
Medium             284
Very high           33
Name: count, dtype: int64

In [12]:
from snowflake.snowpark import Session
import warnings; warnings.simplefilter('ignore')

In [13]:
#Import all snowflake connection details from template variables.
db_user = 'MANISH'
db_password = 'Password@2023'
db_account = 'ug94937.us-east4.gcp'
db_database =  'FDC_Banking_FS'
db_role = 'MANISH'
db_warehouse = 'FOSFOR_SOLUTIONS_WH'
db_schema = 'BFS_SUPER_ANNU_SCHEMA'

In [14]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session1 = Session.builder.configs(connection_params).create()

In [15]:
cat_columns

['MySuper product name',
 'MySuper product type',
 'Lifecycle strategy indicator',
 'Fund name',
 'Fund trustee',
 'Fund public offer status',
 'Fund type',
 'Level of investment risk label']

In [16]:
non_numeric_col = ['Period','MySuper product name','MySuper product type','Lifecycle strategy indicator',
 'Fund name', 'Fund trustee', 'Fund public offer status', 'Fund type', 'Level of investment risk label']

In [17]:
numeric_col = [col for col in df.columns if col not in non_numeric_col]

In [18]:
numeric_col

['Number of lifecycle stages',
 'Fund ABN',
 'Total assets',
 'Return target (annualised target net return above CPI over ten years) ',
 'Level of investment risk (estimated number of negative net investment returns over a 20 year period)',
 'Statement of fees and other costs',
 'Total Investments',
 'Cash - Benchmark asset allocation',
 'Cash - Lower end of asset allocation range',
 'Cash - Upper end of asset allocation range',
 'Fixed income - Benchmark asset allocation ',
 'Fixed income - Lower end of asset allocation range',
 'Fixed income - Upper end of asset allocation range',
 'Australian listed equity  - Benchmark asset allocation ',
 'Australian listed equity - Lower end of asset allocation range',
 'Australian listed equity - Upper end of asset allocation range',
 'International listed equity - Benchmark asset allocation ',
 'International listed equity - Lower end of asset allocation range',
 'International listed equity - Upper end of asset allocation range',
 'Unlisted equity  - Benchmark asset allocation ',
 'Unlisted equity - Lower end of asset allocation range',
 'Unlisted equity - Upper end of asset allocation range',
 'Equity (listing and/or domicile not specified) - Benchmark asset allocation ',
 'Equity - listing and/or domicile not specified - Lower end of asset allocation range',
 'Equity - listing and/or domicile not specified - Upper end of asset allocation range',
 'Property - Benchmark asset allocation ',
 'Property - Lower end of asset allocation range',
 'Property - Upper end of asset allocation range',
 'Infrastructure - Benchmark asset allocation ',
 'Infrastructure - Lower end of asset allocation range',
 'Infrastructure -Upper end of asset allocation range',
 'Commodities - Benchmark asset allocation ',
 'Commodities - Lower end of asset allocation range',
 'Commodities - Upper end of asset allocation range',
 'Other investments - Benchmark asset allocation ',
 'Other investments - Lower end of asset allocation range',
 'Other investments - Upper end of asset allocation range']

In [19]:
for col in cat_columns:
    df[col].fillna('MISSING_VALUE', inplace=True)

In [20]:
for col in numeric_col:
    df[col].replace(',','', regex=True, inplace=True)
    #df[col].fillna(0, inplace=True)
    df[col] = pd.to_numeric(df[col])

In [21]:
df['Period'].dtype

dtype('O')

In [24]:
import pandas as pd
df['Period'] = pd.to_datetime(df['Period'],  format='mixed')

In [25]:
df['Period'].dtype

dtype('<M8[ns]')

In [26]:
df['Period'].head()

1   2020-06-30
2   2020-06-30
3   2020-06-30
4   2020-06-30
5   2020-06-30
Name: Period, dtype: datetime64[ns]

In [ ]:
#import datetime as dt
#df['Period'] = pd.to_datetime(df['Period']).dt.strftime('%Y-%m-%d')

In [ ]:
#df['Period'].value_counts()

In [27]:
df_sf=session1.createDataFrame(
        df.values.tolist(),
        schema=df.columns.tolist())
df_sf.write.mode("overwrite").save_as_table("FDC_Banking_FS.BFS_SUPER_ANNU_SCHEMA.SUPPER_ANNUATION_FUND_DETAILS")

TypeError: Unable to infer the type of the field Period.