In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib created a temporary cache directory at /tmp/matplotlib-90p03zvy because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [2]:
df =  pd.read_csv('/data/Input/My_super.csv')

<ipython-input-2-794884c2a58d>:1: DtypeWarning: Columns (0,1,2,3,5,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df =  pd.read_csv('/data/Input/My_super.csv')

In [3]:
df.shape

(1047628, 47)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047627 entries, 1 to 1047627
Data columns (total 47 columns):
 #   Column                                                                                                Non-Null Count  Dtype
---  ------                                                                                                --------------  -----
 0   Period                                                                                                2987 non-null   object
 1   MySuper product name                                                                                  2987 non-null   object
 2   MySuper product type                                                                                  2987 non-null   object
 3   Lifecycle strategy indicator                                                                          852 non-null    object
 4   Number of lifecycle stages                                                                            852 non-null    float64
 5   Fund name                                                                                             2987 non-null   object
 6   Fund ABN                                                                                              2987 non-null   float64
 7   Fund trustee                                                                                          2987 non-null   object
 8   Fund public offer status                                                                              2987 non-null   object
 9   Fund type                                                                                             2987 non-null   object
 10  Total assets                                                                                          2988 non-null   object
 11  Return target (annualised target net return above CPI over ten years)                                 2134 non-null   object
 12  Level of investment risk (estimated number of negative net investment returns over a 20 year period)  2134 non-null   float64
 13  Level of investment risk label                                                                        2134 non-null   object
 14  Statement of fees and other costs                                                                     2134 non-null   object
 15  Total Investments                                                                                     2987 non-null   object
 16  Cash - Benchmark asset allocation                                                                     2074 non-null   object
 17  Cash - Lower end of asset allocation range                                                            2074 non-null   object
 18  Cash - Upper end of asset allocation range                                                            2074 non-null   object
 19  Fixed income - Benchmark asset allocation                                                             2132 non-null   object
 20  Fixed income - Lower end of asset allocation range                                                    2132 non-null   object
 21  Fixed income - Upper end of asset allocation range                                                    2132 non-null   object
 22  Australian listed equity  - Benchmark asset allocation                                                1901 non-null   object
 23  Australian listed equity - Lower end of asset allocation range                                        1901 non-null   object
 24  Australian listed equity - Upper end of asset allocation range                                        1901 non-null   object
 25  International listed equity - Benchmark asset allocation                                              1836 non-null   object
 26  International listed equity - Lower end of asset allocation range                                     1836 non-null   object
 27  International listed equity - Upper end of asset allocation range                                     1836 non-null   object
 28  Unlisted equity  - Benchmark asset allocation                                                         1051 non-null   object
 29  Unlisted equity - Lower end of asset allocation range                                                 1051 non-null   object
 30  Unlisted equity - Upper end of asset allocation range                                                 1051 non-null   object
 31  Equity (listing and/or domicile not specified) - Benchmark asset allocation                           302 non-null    object
 32  Equity - listing and/or domicile not specified - Lower end of asset allocation range                  302 non-null    object
 33  Equity - listing and/or domicile not specified - Upper end of asset allocation range                  302 non-null    object
 34  Property - Benchmark asset allocation                                                                 2044 non-null   object
 35  Property - Lower end of asset allocation range                                                        2044 non-null   object
 36  Property - Upper end of asset allocation range                                                        2044 non-null   object
 37  Infrastructure - Benchmark asset allocation                                                           1718 non-null   object
 38  Infrastructure - Lower end of asset allocation range                                                  1718 non-null   object
 39  Infrastructure -Upper end of asset allocation range                                                   1718 non-null   object
 40  Commodities - Benchmark asset allocation                                                              213 non-null    object
 41  Commodities - Lower end of asset allocation range                                                     213 non-null    object
 42  Commodities - Upper end of asset allocation range                                                     213 non-null    object
 43  Other investments - Benchmark asset allocation                                                        1641 non-null   object
 44  Other investments - Lower end of asset allocation range                                               1641 non-null   object
 45  Other investments - Upper end of asset allocation range                                               1641 non-null   object
 46  Unnamed: 46                                                                                           0 non-null      float64
dtypes: float64(4), object(43)
memory usage: 375.7+ MB

In [13]:
df.describe()

,Number of lifecycle stages,Fund ABN,Level of investment risk (estimated number of negative net investment returns over a 20 year period)
count,852.000000,2.987000e+03,2134.000000
mean,8.024648,5.527660e+10,3.712034
std,6.570640,2.551359e+10,0.813943
min,2.000000,1.178943e+10,0.000000
25%,4.000000,3.009932e+10,3.000000
50%,6.000000,5.824412e+10,3.600000
75%,8.000000,7.651477e+10,4.000000
max,41.000000,9.850314e+10,7.000000

In [4]:
df.head()

,Period,MySuper product name,MySuper product type,Lifecycle strategy indicator,Number of lifecycle stages,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,...,Infrastructure - Benchmark asset allocation,Infrastructure - Lower end of asset allocation range,Infrastructure -Upper end of asset allocation range,Commodities - Benchmark asset allocation,Commodities - Lower end of asset allocation range,Commodities - Upper end of asset allocation range,Other investments - Benchmark asset allocation,Other investments - Lower end of asset allocation range,Other investments - Upper end of asset allocation range,Unnamed: 46
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(%),(%),(%),(%),(%),(%),(%),(%),(%),NaN
1,30/06/2020,AMG MySuper,Generic,NaN,NaN,AMG Super,3.009932e+10,Equity Trustees Superannuation Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30/06/2020,AFLPA & AFL Industry MySuper,Large employer,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30/06/2020,AMP MySuper No.3,Generic,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30/06/2020,Brookfield Australia MySuper,Large employer,NaN,NaN,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,5.0,0.0,15.0,NaN,NaN,NaN,9.0,0.0,20.0,NaN

In [7]:
# Skip the first row (index 0) using the `iloc` method
df = df.iloc[1:]

In [10]:
# Drop the NaN column
df.drop('Unnamed: 46', inplace=True, axis=1)

<ipython-input-10-c8e5796a3b8a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Unnamed: 46', inplace=True, axis=1)

In [11]:
df.head()

,Period,MySuper product name,MySuper product type,Lifecycle strategy indicator,Number of lifecycle stages,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,...,Property - Upper end of asset allocation range,Infrastructure - Benchmark asset allocation,Infrastructure - Lower end of asset allocation range,Infrastructure -Upper end of asset allocation range,Commodities - Benchmark asset allocation,Commodities - Lower end of asset allocation range,Commodities - Upper end of asset allocation range,Other investments - Benchmark asset allocation,Other investments - Lower end of asset allocation range,Other investments - Upper end of asset allocation range
1,30/06/2020,AMG MySuper,Generic,NaN,NaN,AMG Super,3.009932e+10,Equity Trustees Superannuation Limited,Public offer,Retail,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30/06/2020,AFLPA & AFL Industry MySuper,Large employer,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30/06/2020,AMP MySuper No.3,Generic,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30/06/2020,Brookfield Australia MySuper,Large employer,NaN,NaN,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,30.0,5.0,0.0,15.0,NaN,NaN,NaN,9.0,0.0,20.0
5,30/06/2020,CCA MySuper,Large employer,Lifecycle,5.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cat_columns

Index(['Period', 'MySuper product name', 'MySuper product type',
       'Lifecycle strategy indicator', 'Number of lifecycle stages',
       'Fund name', 'Fund ABN', 'Fund trustee', 'Fund public offer status',
       'Fund type', 'Total assets',
       'Return target (annualised target net return above CPI over ten years) ',
       'Level of investment risk (estimated number of negative net investment returns over a 20 year period)',
       'Level of investment risk label', 'Statement of fees and other costs',
       'Total Investments', 'Cash - Benchmark asset allocation',
       'Cash - Lower end of asset allocation range',
       'Cash - Upper end of asset allocation range',
       'Fixed income - Benchmark asset allocation ',
       'Fixed income - Lower end of asset allocation range',
       'Fixed income - Upper end of asset allocation range',
       'Australian listed equity  - Benchmark asset allocation ',
       'Australian listed equity - Lower end of asset allocation range',
       'Australian listed equity - Upper end of asset allocation range',
       'International listed equity - Benchmark asset allocation ',
       'International listed equity - Lower end of asset allocation range',
       'International listed equity - Upper end of asset allocation range',
       'Unlisted equity  - Benchmark asset allocation ',
       'Unlisted equity - Lower end of asset allocation range',
       'Unlisted equity - Upper end of asset allocation range',
       'Equity (listing and/or domicile not specified) - Benchmark asset allocation ',
       'Equity - listing and/or domicile not specified - Lower end of asset allocation range',
       'Equity - listing and/or domicile not specified - Upper end of asset allocation range',
       'Property - Benchmark asset allocation ',
       'Property - Lower end of asset allocation range',
       'Property - Upper end of asset allocation range',
       'Infrastructure - Benchmark asset allocation ',
       'Infrastructure - Lower end of asset allocation range',
       'Infrastructure -Upper end of asset allocation range',
       'Commodities - Benchmark asset allocation ',
       'Commodities - Lower end of asset allocation range',
       'Commodities - Upper end of asset allocation range',
       'Other investments - Benchmark asset allocation ',
       'Other investments - Lower end of asset allocation range',
       'Other investments - Upper end of asset allocation range'],
      dtype='object')

In [ ]:
df.