In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib created a temporary cache directory at /tmp/matplotlib-nk68eel2 because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [12]:
df =  pd.read_csv('/data/Input/My_super.csv', skiprows=2)

<ipython-input-12-c8fd8164f3e8>:1: DtypeWarning: Columns (0,1,2,3,5,7,8,9,10,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df =  pd.read_csv('/data/Input/My_super.csv', skiprows=2)

In [13]:
df.shape

(1047626, 47)

In [14]:
df.head()

,30/06/2020,AMG MySuper,Generic,Unnamed: 3,Unnamed: 4,AMG Super,30099320583,Equity Trustees Superannuation Limited,Public offer,Retail,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,30/06/2020,AFLPA & AFL Industry MySuper,Large employer,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30/06/2020,AMP MySuper No.3,Generic,Lifecycle,6.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30/06/2020,Brookfield Australia MySuper,Large employer,NaN,NaN,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,5.0,0.0,15.0,NaN,NaN,NaN,9.0,0.0,20.0,NaN
3,30/06/2020,CCA MySuper,Large employer,Lifecycle,5.0,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30/06/2020,Macquarie Group MySuper,Large employer,NaN,NaN,AMP Super Fund,7.842196e+10,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,12.5,0.0,25.0,NaN